<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.ico" />
    <link rel="stylesheet" href="../public/css/login.css">
    <script src="../public/js/jQuery.min.js/jQuery.min.js"></script>
    <script src="../public/js/login.js"></script>

</head>

<body>
    <div class="header w">
        <div class="logo">
            <a href="index.html">
                <img src="../public/images/logo.png" alt="品优购">
            </a>
        </div>
    </div>

    <div class="content">
        <div class="content_focus w">
            <div class="content_pic">
                <img src="../public/images/loginbg.jpg" alt="">
            </div>

            <div class="login">
                <div class="login_hd">
                    <button id="btn_1">扫描登陆</button>
                    <button id="btn_2" class="red">账户登陆</button>
                </div>

                <div class="login_ft">
                    <p>公共场所不建议自动登录，以免账号丢失</p>
                    <div id="form">
                        <div class="zhanghao">
                            <span>
                                <img src="../public/images/zhanghao.png" alt="">
                            </span>
                            <input type="text" id="phone" value="请输入手机号">
                        </div>
                        <div class="password">
                            <span>
                                <img src="../public/images/mima.jpg" alt="">
                            </span>
                            <input type="password" id="password" value="请输入密码">
                        </div>
                        <div class="auto_login">
                            <span>
                                <input type="checkbox">自动登陆
                            </span>
                            <a href="javascript::">忘记密码？</a>
                        </div>
                        <div class="login_btn">
                            <input type="button" value="登陆" id="btn_login">
                        </div>

                        <div class="else_login">
                            <a href="javascript::" class="else"></a>
                            <a href="javascript::" class="else"></a>
                            <a href="javascript::" class="else"></a>
                            <a href="javascript::" class="else"></a>
                            <a href="register.html" id="register_now">
                                立即注册
                            </a>
                        </div>
                    </div>
                </div>

                <div id="QR_code" style="display: none;">
                    <img src="../public/images/erweima.png" alt="">
                </div>

            </div>
        </div>
    </div>


    <div class="mod_copyright">
        <p class="mod_copyright_links">
            <a href="#">关于我们  |</a>
            <a href="#">联系我们  |</a>
            <a href="#">联系客服  |</a>
            <a href="#">商家入驻  |</a>
            <a href="#">营销中心  |</a>
            <a href="#">手机品优购  |</a>
            <a href="#">友情链接  |</a>
            <a href="#">销售联盟  |</a>
            <a href="#">品优购社区  |</a>
            <a href="#">品优购公益  |</a>
            <a href="#">English Site  |</a>
            <a href="#">Contact U  |</a>
        </p>
        <p class="mod_copyright_info">
            地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 邮箱: zhanghj+itcast.cn <br /> 京ICP备08001421号京公网安备110108007702

        </p>
    </div>
</body>

</html>