body{
	text-align: center;
}
header{
	height: 10%;
	width: 100%;
}
selection{
	width: 100%;
}
textarea{
	width: 90%;
	height: 100%;
	resize: none;
}
mark{
	background: none;
}
#commentList{
	text-align: left;
}
li{
	list-style: none;
}