*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: white;

}
/*页面导航及刷新*/
.main .top{
    width: 1200px;
    height: 40px;
    /*background: red;*/
    margin: 20px 0;
    padding-left: 10px;
    line-height: 40px;
    border: 1px solid #dddddd;
    border-left: 10px solid #f24729;
    border-right: 10px solid #f24729;
    background-color: #DFDFDF;
}


.main .top .fresh span{
    font-size: 20px;
    color: white;
}
/*页面大名称及搜索框*/
.main .header{
    width: 1200px;
    height: auto;
    margin:20px 0;
    padding-left: 20px;
    
}
.main .header h3{
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}
.main .search{
    width: 1200px;
    height: auto;
    margin: 20px 0;
    padding-left: 10px;
}
.main .second{
    width: 1200px;
    height: auto;
}
.table thead tr td{
    font-weight: bolder;
}
.table tr td{
    text-align: center;
}
.table tbody tr td img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.main .search .row .btn-primary {
    color: #fff;
    background-color: #f24729;
    border-color: #f23d85;
}