<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/vue.js"></script>
    <style>
        #app{
            height: 100px;
            width: 200px;
            border: 1px solid rgba(200, 200, 200, 0.5);
            text-align: center;
            border-radius: 5%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="num1" placeholder="请输入第一个数字"><br>
        <input type="text" v-model="num2" placeholder="请输入第二个数字"><br>
        <input type="button" value="确定" @click="compare()"><br>
        <div id="result">{{result}}</div>
    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                num1:'',
                num2:'',
                result:''
            },
            methods: {
            compare() {
              if (!this.num1 || !this.num2) {
                this.result = '输入的数不能为空'
              } else { 
                this.result = parseInt(this.num1) == parseInt(this.num2) ? '两个数相等' : parseInt(this.num1) > parseInt(this.num2) ? this.num1+"大于"+this.num2 : this.num2+"大于"+this.num1
              }
            }
        }
        })
    </script>
</body>
</html>